.All_Menus_Container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Menu_Container_Phone {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition-property: bottom, top;
  transition-duration: 1s, 1s;
}

.MenuIsOpen {
  bottom: auto;
  top: -56px;
}

.NavMenu_Container {
  height: 56px;
}

.Search_Button_Container {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 2.5rem;
  width: fit-content;
  margin: 0 auto;
}

.Search_Button {
  width: 5rem;
  aspect-ratio: 1/1;
  border: 3px solid #252525;
  border-radius: 2.5rem;
  background-color: #ff5700;
  box-shadow: 0px 4px 5px 0px rgba(37, 37, 37, 0.6);
  z-index: 3;
}

.Search_Button .fa-magnifying-glass {
  font-size: 2rem;
  color: #252525;
}

.Nav_Buttons_Container {
  position: relative;
  height: 3.5rem;
  box-sizing: border-box;
  bottom: 5rem;
  z-index: 2;
}

.Nav_Button {
  width: 50%;
  height: 100%;
  border-top: 2px solid #252525;
  border-bottom: 0px solid transparent;
  background-color: #d9d9d9;
}

.Popular_Button {
  border-right: 1px solid #252525;
  border-left: 0px solid transparent;
}

.FAQ_Button {
  border-left: 1px solid #252525;
  border-right: 0px solid transparent;
}

.Link_Container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  color: #252525;
  font-weight: 600;
}

.Link_Container:hover {
  color: #252525;
}

.PopUpMenu_Container {
  background-color: #fff;
  height: 0vh;
  width: 100%;
}

.PopUpMenu_Container_Height {
  height: 100vh;
}

.PopUpMenu_Wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.SearchBar_Container {
  display: flex;
  gap: 12px;
  border-bottom: 2px solid #aaaaaa;
  box-shadow: 0px 2px 5px 0px rgba(37, 37, 37, 0.3);
  height: 52px;
  padding: 9px 12px 9px;
  box-sizing: border-box;
}

.SearchBar_Link_Container {
  display: flex;
}

.BackLogo_Container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border: 0 solid transparent;
  background: none;
  width: fit-content;
  padding: 0;
}

.fa-arrow-down {
  font-size: 1.5rem;
}

.Menu_Container_Desktop {
  display: none;
  position: fixed;
  top: 58px;
  left: 0;
  width: fit-content;
  height: 100%;
  z-index: 1;
  transition: bottom 1s;
  border-right: 2px solid #aaaaaa;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 2px 0px 5px 0px rgba(37, 37, 37, 0.3);
  background-color: #fff;
}

.Desktop_NavMenu_Container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Desktop_Menu_Button {
  background: none;
  border: none;
  padding: 4px;
  aspect-ratio: 1/1;
  width: 3.5rem;
  box-sizing: border-box;
  font-size: 2rem;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
}

.Desktop_Menu_Button:hover {
  outline: 1px solid #252525;
  border: 1px solid #252525;
  box-shadow: 0px 4px 6px 0px rgba(37, 37, 37, 0.5);
  background: #f0f0f0;
}

.Desktop_Menu_Button .fa-arrow-left {
  font-size: 2rem;
}

.Desktop_Menu_Button a {
  font-size: 2rem;
}

.Desktop_PopUpMenu_Container {
  background-color: #fff;
  width: 0px;
  height: 100%;
  transition: width 0.75s, padding-right 0.75s;
  overflow: hidden;
  box-sizing: border-box;
}

.Desktop_MenuIsOpen {
  width: 300px;
  padding-right: 1rem;
}

.Desktop_PopUpMenu_Wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-right: 16px;
}

.Desktop_SearchBar_Container {
  width: 100%;
  height: 2rem;
}

@media only screen and (min-width: 821px) {
  .Menu_Container_Phone {
    display: none;
  }

  .Menu_Container_Desktop {
    display: flex;
  }
}
