.PostPage_Container {
  box-sizing: border-box;
  position: absolute;
  top: 58px;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  height: calc(100% - 50px - 3.5rem);
  overflow-y: scroll;
  padding-top: 12px;
  padding-bottom: 3rem;
}

.PostPage_Container h2 {
  width: fit-content;
  margin: 0;
}

.PostPage_Wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
}

.PostPage_Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.PostPage_Header_information {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  /* width: 100%; */
  flex-grow: 2;
}

.PostCard_subreddit {
  width: 100%;
}

.PostPage_Wrapper .Info_Box {
  /* width: 100%; */
  height: fit-content;
  text-align: right;
  box-sizing: border-box;
  color: #252525;
  flex-grow: 1;
  display: flex;
  justify-content: right;
  gap: 6px;
}

.PostTitle_Container {
  width: 100%;
}

.Selftext {
  width: 100%;
  overflow-wrap: break-word; 
}

.CommentsTitle_Container {
  display: flex;
  justify-content: space-between;
}

.CommentCards_Container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
