.PostCard_Container {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  padding-top: 16px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 2px 4px 0px rgba(37, 37, 37, 0.5);
}

.PostCard_Container p {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 200;
}

.PostCard_Container h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.Poste_Image_Container {
  width: 100%;
  border: 2px solid #aaaaaa;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
}

.Poste_Image {
  width: 100%;
}

.Info_Container {
    display: flex;
    width: 100%;
    justify-items: center;
    text-align: center;
}

.Info_Box {
    width: 50%;
    box-sizing: border-box;
    color: #252525;
}
