.PostCard_Link {
  width: 100%;
}

.PostCard_Container {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 2px 4px 0px rgba(37, 37, 37, 0.5);
}

.PostCard_Container:hover {
  background-color: #858585;
}

.PostCard_Container p {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;
}

.PostCard_Container h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -1px;
  font-weight: 700;
}

.PostCard_Container h3 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 500;
}

.PostCard_Container h4 {
  font-family: 'Open Sans';
  font-size: 1rem;
  line-height: 1.2rem;
}


.PostCard_Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.PostCard_subreddit {
  width: 100%;
}

.Poste_Image_Container {
  width: 100%;
  border: 2px solid #aaaaaa;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
}

.Poste_Image {
  width: 100%;
}

.Info_Container {
    display: flex;
    width: 100%;
    justify-items: center;
    text-align: center;
}

.Info_Box {
    width: 50%;
    box-sizing: border-box;
    color: #252525;
}

.NewsLink_Container {
  width: 100%;
  box-sizing: border-box;

}

.NewsLink_Container a {
  color: blue;
  display: block;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.NewsLink_Container a:hover {
  color: #ff5700;
  font-weight: 600;
}
