.Menu_Container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.Search_Button_Container {
  position: absolute;
  bottom: calc(3.5rem - (5rem / 2));
  left: calc(50% - (5rem / 2));
}

.Search_Button {
  width: 5rem;
  aspect-ratio: 1/1;
  border: 3px solid #252525;
  border-radius: 2.5rem;
  background-color: #ff5700;
  box-shadow: 0px 4px 5px 0px rgba(37, 37, 37, 0.6);
}

.Search_Button .fa-magnifying-glass {
  font-size: 2rem;
  color: #252525;
}

.Nav_Buttons_Container {
  height: 3.5rem;
  box-sizing: border-box;
}

.Nav_Button {
  width: 50%;
  height: 100%;
  border-top: 2px solid #252525;
  border-bottom: 0px solid transparent;
  background-color: #d9d9d9;
}

.Popular_Button {
  border-right: 1px solid #252525;
  border-left: 0px solid transparent;
}

.FAQ_Button {
  border-left: 1px solid #252525;
  border-right: 0px solid transparent;
}
