.Tag_Container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background: #F0F0F0;
  height: fit-content;
  height: 46px;
  width: fit-content;
  padding: 15px;
  border: 0px solid transparent;
  border-radius: 23px;
}

.Tag_Container:hover {
  border: 2px solid #252525;
  box-shadow: 1px 2px 4px 0px rgba(37, 37, 37, 0.6);
}

.CategoryTagSelected {
  background: #ff5700;
  border: 2px solid #252525;
  box-shadow: 1px 2px 4px 0px rgba(37, 37, 37, 0.6);
}

.Tag_Container .Category_Name {
  margin: 0;
  line-height: 16px;
  white-space: nowrap;
}
