.Tag_Container {
  background: #d9d9d9;
  height: fit-content;
  max-height: 26px;
  padding: 5px 10px;
  border: 0px solid transparent;
  border-radius: 13px;
}

.Tag_Container p {
  margin: 0;
  line-height: 16px;
}
