.SearchInputForm_Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .SearchInput_Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .SearchInput {
    width: 100%;
    border: 0 solid transparent;
    border-radius: 6px;
    background-color: #F0F0F0;
    padding-left: 6px;
  }
  
  ::-webkit-input-placeholder { /* Edge */
    color: #8B8B8B;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8B8B8B;
  }
  
  ::placeholder {
    color: #8B8B8B;
  }