.Categories_Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 12px;
    gap: 1rem;
  }
  
  .CategoriesTags_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }