.Dashboard_Container {
  box-sizing: border-box;
  position: absolute;
  top: 58px;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #aaaaaa;
  height: calc(100% - 56px - 58px);
  overflow-y: scroll;
}

.Dashboard_Wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.LoaderContainer_Wrapper {
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.LoaderContainer {
  width:4rem;
  height: 4rem;
  background: url("../../images/loading.gif") center
    no-repeat;
  background-size: contain;
  z-index: 1;
}
