.AppRoot {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

.AppWrapper {
  width: 100%;
  height: 100%;
  max-width: 640px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.Main_Title {
  display: none;
}