html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden; /* hide horizontal overflow */
  font-display: swap;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
a,
b,
i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: #252525;
}

h1,
h2,
h3
{
  font-family: "IBM Plex Sans", Arial, sans-serif;
}

p,
a,
em,
strong,
strike,
li,
h4,
h5,
h6 {
  font-family: "Noto Sans", Arial, sans-serif;
}

h1 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 600;
}

p, li {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
}

a {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: blue;
  display: block;
}

/* a:hover {
  color: #ff5700;
  font-weight: 600;
} */

img,
video {
  display: block;
}

button {
  font-size: 16px;
  cursor: pointer;
}

object {
  width: 100%;
}
