.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  border-bottom: 2px solid #aaaaaa;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 2px 5px 0px rgba(37, 37, 37, 0.3);
  background-color: #fff;
  z-index: 2;
}

.display {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 12px;
}

.hidden {
  display: none;
}

.logo_container {
  height: 40px;
  display: flex;
  align-content: center;
  align-items: center;
}

.FR_logo {
  height: 100%;
}

.selected_categories_container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.fa-arrow-left {
  font-size: 1.5rem;
}

.route_container p {
  margin: 0;
}
