.Selftext_Container {
  width: 100%;
}

.LongVersion {
  width: 100%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.ShortVersion {
  width: 100%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 10rem;
  overflow: hidden;
  /* display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; */
}

.Selftext_Container b,
em,
strong,
p,
a {
  width: fit-content;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 3px;
}

.Selftext_Container li {
  width: fit-content;
  margin-right: 0;
  margin-left: 0;
  display: list-item;
  flex-wrap: wrap;
}

.Selftext_Container p, h1, li {
  margin-bottom: 1rem;
}

.Selftext_Container span {
  width: 100%;
  display: block;
}

.PostLink {
  color: blue;
}

.md {
  width: 100%;
}